/* Estilos generales */
body {
    background-color: #f2f2f2;
}

.bg-gray {
    background-color: #f2f2f2;
}

.titulo-principal {
    font-family: Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
    text-align: center;
}

h2 {
    font-size: 24px;
    text-align: center;
}

.button {
    background-color: #f2f2f2;
    color: #000000;
}

#footer {
    background-color: #f2f2f2;
}

#footer a {
    color: #000000;
}



/* button */
.button {
    background-color: #f2f2f2;
    color: #000000;
    font-size: 1.5rem;
    text-decoration: none;
}

.button:hover {
    background-color: #ffa54c;
    color: #ffffff;
}

/* Estilos específicos para dispositivos móviles */
@media (max-width: 768px) {
    .button {
        font-size: 1.2rem;
        padding: 10px 15px;
    }
}


/* header */
header {
    grid-area: header;
    display: flex;
    align-items: center;
    background-color: #d4d4d4;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header nav a {
    text-decoration: none;
    color: black;
}

header nav a:hover {
    color: #808080;
}

.header-content img {
    margin-right: 10px;
}

/* Estilos específicos para dispositivos móviles */
@media (max-width: 768px) {
    .button {
        font-size: 1.2rem;
        padding: 10px 15px;
    }
}

/* portada */

#portada .button:hover {
    background-color: #ff6347;
    color: #fff;
  }
  

main {
    grid-area: servicios;
}

h1 {
    text-align: center;
    font-size: 2.rem;
    padding-top: 200px;
}

#portada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#portada a {

    text-decoration: none;
    background-color: coral;
    padding: 10px 20px;
    border: 1px solid deeppink;
    color: white;
}

/* Estilos específicos para dispositivos móviles */
@media (max-width: 768px) {
    .button {
        font-size: 1.2rem;
        padding: 10px 15px;
    }
}


/* header */
header {
    grid-area: header;
    display: flex;
    align-items: center;
    background-color: #d4d4d4;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header nav a {
    text-decoration: none;
    color: black;
}

header nav a:hover {
    color: #808080;
}

.header-content img {
    margin-right: 10px;
}


.CardServicios {
    display: flex;
    justify-content: center;
    gap: 20px;
}

@media (max-width: 768px) {
    .CardServicios {
        flex-direction: column;
    }
    
}

.card {
    border: 1px solid #f2f2f2;
    background-color: #f8f8f8;
    text-align: center;
    padding: 20px;
    box-shadow: 2px 2px 4px #888888;
}

.card h3 {
    color: #444444;
}

.card a {
    text-decoration: none;
    background-color: #ffa54c;
    padding: 10px 20px;
    border: none;
    color: #ffffff;
}

.card a:hover {
    background-color: #ffca7b;
}

/* Estilos específicos para dispositivos móviles */
@media (max-width: 768px) {
    .button {
        font-size: 1.2rem;
        padding: 10px 15px;
    }
}



/* Estilos para el Mega Nav */
nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    grid-area: nav;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Estilos específicos para dispositivos móviles */

@media (max-width: 768px) {
   header nav ul{

    flex-direction: column ;
}
header nav ul li:first-child {

    margin-left: 20px;
}

}


/* PAGES */ 


/* sobrenosotros */

.sobrenosotros {


    body {
        background-color: #f2f2f2;
        color: #000;
        text-align: center;
        padding: 20px;
    }

}

main {
    max-width: 800px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    main {
        max-width: 768px;
    }
}



/* Contacto */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    padding: 20px;
    color: #fff;
}

header a {
    color: #fff;
    text-decoration: none;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}



main {
    padding: 20px;
}

h1 {
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

/* Estilos responsive para dispositivos móviles */
@media (max-width: 600px) {
    header {
        padding: 10px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    main {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    form input[type="text"],
    form input[type="email"],
    form input[type="tel"],
    form textarea {
        width: 100%;
    }
}




/* FAQS */

main .faq-list {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 5px;
    max-width: 800px;
    margin: 0 auto;
}

main .faq-list ol {
    counter-reset: item;
    padding-left: 0;
}

main .faq-list li {
    counter-increment: item;
    margin-bottom: 20px;
}

main .faq-question {
    font-weight: bold;
    font-style: italic;
}

main .faq-answer {
    font-weight: normal;
    font-style: normal;
}

@keyframes slideDown {
    0% {
        max-height: 0;
        opacity: 0;
    }

    100% {
        max-height: 500px;
        opacity: 1;
    }
}

/* Servicios */

h1.titulo-servicios {
    margin-top: 0;
    margin-bottom: 10px; }

.card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h2 {
    margin-bottom: 10px;
    font-size: 18px;
}

.card p {
    margin-bottom: 10px;
    font-size: 14px;
}

.card span {
    font-size: 12px;
}

.btn-vermas {
    display: none;
}

/* Estilos para el footer */

#footer {
    background-color: #fbece6;
    padding: 20px;
    color: #8a6d5c;
    text-align: center;
}

#footer .footercolumns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 768px)
{
#footer .footercolumns {
    flex-wrap: nowrap;
    flex-direction: column;
}
}

#footer h4 {
    margin-bottom: 10px;
    text-decoration: none;
}

#footer p {
    margin-bottom: 5px;
    text-decoration: none;
}

#footer ul {
    list-style: none;
    padding: 0;
}

#footer ul li {
    margin-bottom: 5px;
}

#footer a {
    color: #8a6d5c;
    text-decoration: none;
}

#footer a:hover {
    color: #ccc;
}

#footer span {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #8a6d5c;
}

#footer .logo {
    text-align: center;
    margin-bottom: 10px;
}

#footer .logo img {
    display: none;
}

#footer .logo span {
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#footer {
    max-width: 100%;
    box-sizing: border-box;
}



/* Media Queries para Responsive Design */
@media (max-width: 768px) {

    /* Estilos para Mobile */
    .container {
        padding: 10px;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin-bottom: 10px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {

    /* Estilos para Tablet */
    .container {
        padding: 20px;
    }

    nav ul {
        justify-content: center;
    }
}

#img-with-button .img-with-button-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}