/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
        "header header header"
        "nav servicios aside"
        "footer footer footer";


}

/* button */
.button {
    background-color: blanchedalmond;
    color: chocolate;
    font-size: 1.5rem;
    text-decoration: none;
}

/* header */

header {
    grid-area: header;

}

header nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header nav a {

    text-decoration: none;
    color: black;
}

/* portada */

main {
    grid-area: servicios;
}

h1 {
    text-align: center;
    font-size: 2.rem;
    padding-top: 200px;
}

#portada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#portada a {

    text-decoration: none;
    background-color: coral;
    padding: 10px 20px;
    border: 1px solid deeppink;
    color: white;
}

/* servicios */

.CardServicios {
    display: flex;
    gap: 10px;
    justify-content: center;
}


.card {
    background-color: antiquewhite;
    color: black;
    text-decoration: none;
    box-shadow: black(0 0 0 / 24%) 0px 3px 8px;
    border-radius: 20px;
    height: 200px;
    width: 200px;
    /* padding top: 40px; */
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para el Mega Nav */
nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    grid-area: nav;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Estilos para el Hero */
.hero {
    text-align: center;
    margin: 40px 0;
}

/* Estilos para el Footer */
footer {
    margin-top: 50px;
    width: 100%;
    background-color: wheat;
    color: black;
    text-align: center;
    justify-content: space-evenly;
    grid-area: footer;
    align-items: center;
}

.footercolumns {
    justify-content: space-evenly;
    padding: 0 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: center;

}

.footercolumns li {

    text-align: start;
    list-style-type: none;
}

.footerenlaces {
    text-decoration: none
}

.box {
    color: violet;
}

/* nosotros */
.box {
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: antiquewhite;
    overflow: auto;
    border: 1px solid black;
}

.box2 {
    margin-left: 50px;
    margin-right: 100px;
    padding: 30px 45px;
    box-sizing: border-box;
}

/* Media Queries para Responsive Design */
@media (max-width: 768px) {

    /* Estilos para Mobile */
    .container {
        padding: 10px;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin-bottom: 10px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {

    /* Estilos para Tablet */
    .container {
        padding: 20px;
    }

    nav ul {
        justify-content: center;
    }
}

#img-with-button .img-with-button-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}