/* Variables */
$background-color: #f2f2f2;
$text-color: #000000;
$hover-background-color: #ffa54c;
$hover-text-color: #ffffff;
$font-size: 1.5rem;
$text-decoration: none;

/* button */
.button {
  background-color: $background-color;
  color: $text-color;
  font-size: $font-size;
  text-decoration: $text-decoration;
  
  &:hover {
    background-color: $hover-background-color;
    color: $hover-text-color;
  }
}
