/* Variables */
$nav-background: #333;
$nav-color: #fff;
$nav-padding: 10px;
$nav-li-margin: 20px;

/* Estilos para el Mega Nav */
nav {
  background-color: $nav-background;
  color: $nav-color;
  padding: $nav-padding;
  grid-area: nav;

  /* Nesting */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;

    /* Bucles */
    @for $i from 1 through 5 {
      li:nth-child(#{$i}) {
        margin-right: $nav-li-margin * $i;
      }
    }

    /* Nesting */
    li {
      a {
        color: $nav-color;
        text-decoration: none;
      }
    }
  }
}
