
$show-nav: true;
$dark-mode: true;

nav {
  background-color: #333;
  padding: 10px;
  grid-area: nav;

  @if $show-nav {
    @if $dark-mode {
      color: #fff;
    } @else {
      color: #000;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;

      li {
        margin-right: 20px;
        a {
          color: inherit;
          text-decoration: none;
        }
      }
    }
  } @else {
    display: none;
  }
}

