// Estilos Generales //

$background-color: #f2f2f2;
$text-color: #000000;

// Button // 

$background-color: #f2f2f2;
$text-color: #000000;
$hover-background-color: #ffa54c;
$hover-text-color: #ffffff;
$font-size: 1.5rem;
$text-decoration: none;

// Header //

$header-background-color: #d4d4d4;
$link-color: black;
$link-hover-color: #808080;
$image-margin-right: 10px;

// Portada //

$primary-color: coral;
$secondary-color: deeppink;
$card-background: #f8f8f8;
$card-border-color: #f2f2f2;
$card-text-color: #444444;
$card-button-color: #ffa54c;
$card-button-hover-color: #ffca7b;
$box-shadow: 2px 2px 4px #888888;


// nav //

$nav-background: #333;
$nav-color: #fff;
$nav-padding: 10px;
$nav-li-margin: 20px;

// container // 

$backgroundcolor: antiquewhite;

// Sobre Nosotros

$body-bg-color: #f2f2f2;
$body-color: #000;
$body-text-align: center;
$body-padding: 20px;


// Pagina de Contacto

$primary-color: #333;
$secondary-color: #fff;
$form-input-color: #ccc;
$form-button-color: #333;
$form-button-hover-color: #555;

// Faqs

$faq-list-bg-color: #f8f8f8;
$faq-list-padding: 20px;
$faq-list-border-radius: 5px;
$faq-list-max-width: 800px;
$faq-list-margin: 0 auto;
$faq-question-font-weight: bold;
$faq-question-font-style: italic;
$faq-answer-font-weight: normal;
$faq-answer-font-style: normal;
$slideDown-animation: slideDown;

// Servicios

$card-bg-color: #fff;
$card-border-radius: 10px;
$card-padding: 20px;
$card-margin: 20px auto;
$card-max-width: 600px;
$card-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
$card-h2-margin-bottom: 10px;
$card-h2-font-size: 18px;
$card-p-margin-bottom: 10px;
$card-p-font-size: 14px;
$card-span-font-size: 12px;



// Footer // 

$footer-margin-top: 50px;
$footer-width: 100%;
$footer-background-color: wheat;
$footer-color: black;
$footer-text-align: center;
$footer-justify-content: space-evenly;
