
// nav //

$colorprincipal: black;

// container // 

$backgroundcolor: antiquewhite;

// footer // 

$footer-height: 100px;
$show-footer-columns: true;

// nav bar //

$show-nav: true;
$dark-mode: true;


// portada //

$show-portada: true;
$colors: coral, teal, royalblue;

// Pagina de Contacto

$primary-color: #333;
$secondary-color: #fff;
$form-width: 400px;
$btn-color: coral;
$btn-hover-color: darkorange;

// Faqs

$accordion-border-color: #ccc;
$accordion-header-bg: #f5f5f5;
$accordion-content-bg: #ffffff;
$accordion-items: 4;